body {
    background-color: white;
}

.akdesign {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #10A7AC; 
}

nav {
    background-color: #10A7AC;

}

.tools {
    list-style: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    font-size: 8px;
    text-decoration: none;
}

.main {
   padding-top: 50px;
}



.gap {
    margin-top: 50px;
}


.twitter, .pinterest, .instagram {
    width: 10%;
}

@media (max-width: 992px) {
    nav {
    position: relative;
  

}

nav ul {
    list-style: none;
    float: right;
    width: 100%;
 
}

.homeimg li {
    float: left;
    width: 25%;
    position: relative;
    top: 200px;

   
}

.tools {
    list-style: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    font-size: 30px;
    text-decoration: none;
    width: 100%;

   
}

}


@media (min-width: 768px) {
    .tools {
    list-style: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    font-size: 16px;
    text-decoration: none;
    width: 100%;

}

nav ul {
    list-style: none;
    float: right;
  
}
}




.gdimg {
    position: relative;
    top: 80px;
}



.icon-bar {
    background-color: #10A7AC;
}

.absolute {
    position: absolute;
}

.serif {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
}

.sanserif {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
}




.contact {
    font-family: 'Roboto Slab', serif;
    color: #10A7AC;
    font-size: 30px;
    text-align: center;

}

.emailserif {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
}







.manifesto {
    margin-top: 30px;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    text-align: center;
    font-size: 30px;
}


.mywords {
    margin-top: 30px;
    font-family: 'Questrial', sans-serif;
    text-align: left;
    font-size: 16px;
}


.email {
    font-family: 'Questrial', sans-serif;
    color: #FFFFF0;
    text-align: center;
    font-size: 16px;
    margin-left: 230px;
}

.email a {
    color: #00CDCD; 
}

.phone {
    color: #FF69B4; 
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
    margin-left: 172px;
}


.form {
    vertical-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    color: black;
}

.active {
    background-color: white;
    color: #10A7AC;
}


.emailbox {
      margin-left: 3px;
}











