body {
    background-color: white;
}

.akdesign {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    color: #10A7AC; 
}

nav {
    background-color: #10A7AC;

}

.carousel-control.left, .carousel-control.right {
    background: none !important;
    color: gray;
}

.akseal {
    margin-top: 50px;
}

.active {
    text-decoration: underline !important;
}

.tools {
    list-style: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    text-decoration: none;
}

.tools:hover {
    color: white;
}

.main {
   padding-top: 30px;
}

nav li {
    list-style: none;
    
}

.gap {
    margin-top: 30px;
}


.twitter, .pinterest, .instagram {
    width: 10%;
}

aside img {
    margin-bottom: 30px;
}


.gdimg {
    position: relative;
    top: 80px;
}



.icon-bar {
    background-color: #10A7AC;
}

.absolute {
    position: absolute;
}

.serif {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
}

.sanserif {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
}




.contact {
    font-family: 'Roboto Slab', serif;
    color: #10A7AC;
    font-size: 30px;
    text-align: center;

}

.emailserif {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;

}



.manifesto {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    text-align: center;
    font-size: 30px;
}


.mywords {
    margin-top: 30px;
    font-family: 'Questrial', sans-serif;
    text-align: left;
    font-size: 16px;
}


.email {
    font-family: 'Questrial', sans-serif;
    color: #FFFFF0;
    text-align: center;
    font-size: 16px;
    margin-left: 230px;
}

.email a {
    color: #00CDCD; 
}

.phone {
    color: #FF69B4; 
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
    margin-left: 172px;
}


.form {
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    color: black;
}



.emailbox {
      margin-left: 3px;
}


@media (min-width: 768px) {
    .tools {
    list-style: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    font-size: 18px;
    text-decoration: none;
    width: 100%;
}

.active {
    text-decoration: underline !important;
}

nav li {
    list-style: none;
    text-align: center;
}

.carousel-control.left, .carousel-control.right {
    background: none !important;
}
}

@media (min-width: 992px) {
    nav {
    position: relative;

}

.tools:hover {
    color: white;
}

.active {
    text-decoration: underline;
}

nav ul {
    list-style: none;
    float: right;
    padding-top: 7px;
 
}



.homeimg li {
    float: left;
    width: 25%;
    position: relative;
    top: 200px;
}

.tools {
    list-style: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    font-size: 18px;
    text-decoration: none;
}

.carousel-control.left, .carousel-control.right {
    background: none !important;
}
}

